<ion-header>
  <ion-toolbar>
    <ion-title>
      Borang Aduan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Coordinates</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Latitude: {{ latitude }}</ion-item>
      <ion-item>Longitude: {{ longitude }}</ion-item>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <iframe src="https://maps.google.com/maps?q=2.807, 101.7634&z=15&output=embed" width="360" height="270" frameborder="0" style="border:0"></iframe>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" (click)="reverse()">Lokasi</ion-button>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-list>Poskod : {{ location_text.postalCode }}</ion-list>
  </ion-item>

  <ion-item>
    <ion-list>Negara : {{ location_text.countryName }}</ion-list>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Butiran Aduan</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Butiran Aduan" [(ngModel)]="form.butiran"></ion-textarea>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" (click)="sendAduan()">Hantar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
