<ion-header>
  <ion-toolbar>
    <ion-title>Senarai Aduan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="assets/icon/icon-selesai.png">
      </ion-thumbnail>
      <ion-label>#12345 11/10/2019</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="assets/icon/icon-selesai.png">
      </ion-thumbnail>
      <ion-label>#45678 01/11/2019</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="assets/icon/icon-dibaca.png">
      </ion-thumbnail>
      <ion-label>#34543 05/02/2020</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="assets/icon/icon-status-baru.png">
      </ion-thumbnail>
      <ion-label>#76456 14/06/2020</ion-label>
    </ion-item>
  </ion-list>
  

  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" (click)="back()">Kembali</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
